*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}

html{
    font-size: 62.5%;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.common{
    width: 2rem;
    height: 2rem;
    align-self: center;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    flex-grow: 1;
    font-size: 1.7rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: blue;
    transition: 0.2s; 
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    opacity: .8;
}

.main{
    height: 50rem;
    width: 35rem;
    border-radius: 2%;
    background-color: white;
}

.header{
    height: 5rem;
    display: flex;
    cursor: pointer;
    border-bottom: 0.3rem solid lightgray;
}

.chat-settings{
    align-self: center;
    display: flex;
    color: black;
    flex-grow: 2;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    margin-left: 0.2rem;
    margin-right: 0.5rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    transition: 0.2s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile-image{
    height: 3.8rem;
    width: 3.8rem;
    background-color: black;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.icon{
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.chat-settings:hover{
    background-color: lightgray;
}

.video-call{
    margin-left: 0.6rem;
}

.video-call:hover{
    background-color: lightgray;
}

.voice-call:hover{
    background-color: lightgray;
}


.minimize-chat{
    font-size: 2rem;

}

.minimize-chat:hover{
    background-color: lightgray;
}


.close-chat{
    margin-right: 0.5rem;
    font-size: 2rem;
}

.close-chat:hover{
    background-color: lightgray;
}

.content{
    height: 40rem;
    overflow-y: scroll;
}

.msgs{
    width: 16rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

.icons{
    display: flex;
    font-size: 1.5rem;
    margin: 1rem;
    color: white;
}

.icon-same{
    border-radius: 50%;
    padding: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
}

.icon-1:hover{
    cursor: pointer;
    background-color: lightgray;
}

.icon-2:hover{
    cursor: pointer;
    background-color: lightgray;
}

.icon-3:hover{
    cursor: pointer;
    background-color: lightgray;
}

.date-time{
    margin-top: 1rem;
    margin-bottom: 0;
    height: 3rem;
    color: rgb(8, 8, 8);
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}

.msg-1{
    display: flex;
}

.msg-1:hover .icons{
    color: lightslategray;
}

.msg-1-1{
    display: flex;
    margin: 1rem;
    margin-top: 0;
    margin-right: 2.5rem;
    margin-left: auto;
}

.msg-1-1-1{
    background-color: blue;
    max-width: max-content;
    color: white;
}

.msg-2{
    display: flex;
    margin-left: 1rem;
}

.dp{
    background-color: black;
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-top: auto;
    height: 3.8rem;
    width: 3.5rem;
}

.msg-2-1{
    margin: 1rem;
    display: block;
}

.same{
    background-color: lightgray;
    max-width: max-content;
    margin: 0.1rem;
}

.msg-2-1-1{
    display: flex;
}

.msg-2-1-1:hover .icons{
    color: lightslategray;
}

.msg-2-1-1-1{
    border-radius: 2rem 2rem 2rem 0;
}

.msg-2-1-2{
    display: flex;
}

.msg-2-1-2:hover .icons{
    color: lightslategray;
}

.msg-2-1-2-1{
    border-radius: 0 2rem 2rem 0;
}

.msg-2-1-3{
    display: flex;
}

.msg-2-1-3:hover .icons{
    color: lightslategray;
}

.msg-2-1-3-1{
    border-radius: 0 2rem 2rem;
}

.msg-3{
    display: flex;
}

.msg-3:hover .icons{
    color: lightslategray;
}

.msg-3-1{
    display: flex;
    margin: 1rem;
    margin-right: 2.5rem;
    margin-left: auto;
}

.msg-3-1-1{
    height: 30rem;
    width: 18rem;
    border-radius: 2rem;
    background-color: blue;
    color: white;  
    cursor: pointer;
}

.image{
    height: 18rem;
}

.image-1{
    border-radius: 2rem 2rem 0 0;
    width: 100%;
    height: 100%;
}

.link{
    padding: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.msg-4{
    display: flex;
    margin-left: 1rem;
}

.msg-4:hover .icons{
    color: lightslategray;
}

.msg-4-1{
    margin: 1rem;
    display: flex;
}

.msg-4-1-1{
    background-color: lightgray;
    max-width: max-content;
}

.msg-5{
   display: flex;
}

.msg-5:hover .icons{
    color: lightslategray;
}

.msg-5-1{
    display: flex;
    margin: 1rem;
    margin-left: auto;
    margin-right: 0.5rem;
}

.msg-5-1-1{
    background-color: blue;
    color: white;
    max-width: max-content;
}

.dp-1{
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    margin-top: auto;
    background-color: black;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
}

.footer{
    height: 5rem;
    display: flex;
}

.more{
    font-size: 2rem;
}

.more:hover{
    background-color: lightgray;
    cursor: pointer;
}

.attach-photo{
    font-size: 2rem;
}

.attach-photo:hover{
    background-color: lightgray;
    cursor: pointer;
}

.choose-sticker{
    font-size: 2rem;
}

.choose-sticker:hover{
    background-color: lightgray;
    cursor: pointer;
}

.choose-gif{
    font-size: 2rem;
}

.choose-gif:hover{
    background-color: lightgray;
    cursor: pointer;
}

.text{
    align-self: center;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    flex-grow: 2;
    font-size: 2rem;
    border-radius: 2rem 2rem;
    background-color: lightgray;
    display: flex;
    padding: 0;
}

input[type="text"]{
    padding: 0.8rem;
    border-radius: 2rem 2rem;
    background-color: lightgray;
    max-width: 10rem;
}

.emoji{
    height: 2rem;
    width: 2rem;
    align-self: center;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: lightgray;
    color: blue;
}

.emoji:hover{
    background-color: rgb(180, 179, 179);
    cursor: pointer;
}

.send-like{
    font-size: 2rem;
}

.send-like:hover{
    background-color: lightgray;
    cursor: pointer;
}